.Logging {
  overflow: scroll;
  position: fixed;
  top: 640px;
  left: 32px;
  height: 138px;
  background: #191919;
  border-radius: 8px;
  width: 768px;
}

.Logging ol {
  padding: 1em;
  margin: 0;
  list-style-type: none;
}

.Logging li {
  font-family: "Menlo", "Courier New", monospace;
  font-size: 0.7em;
  text-indent: -1.5em;
  margin: 0 1.5em;
  transition: opacity 0.2s linear;
}

.Logging li + li {
  margin-top: 0.5em;
}

.Logging li .level {
  display: none;
}

.Logging li.debug,
.Logging li.trace {
  color: #a0a0a0;
}

.Logging li.log {
  color: #d0d0d0;
}

.Logging li.info {
  color: #4397f7;
}

.Logging li.recent {
  opacity: 0.7;
}

.Logging li.old {
  opacity: 0.4;
  transition: opacity 2s linear;
}

.Logging li.warn {
  color: #f6c456;
}

.Logging li.error {
  color: #ec5b55;
}

.Logging li .context::before {
  content: " in ";
  font-style: italic;
}

.Logging li .context {
}
