body.ld-slate .production .game-metadata img {
  height: 1.4em;
  width: 1.4em;
  vertical-align: bottom;
}

body.ld-slate .production .game-metadata .url {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-size: 0.8em;
}

body.ld-slate .production .game-metadata {
  margin-top: 2em;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.6em;
}

body.ld-slate .production .game-metadata a {
  text-decoration: none;
}

body.ld-slate .production .game-metadata h2 {
  font-style: italic;
}

